body {
    margin: 25px;
}

textarea {
    width: 50%;
    height: 100px;
}

button {
    margin-top: 10px;
    width: 10%;
}

table, th, td {
    border: 1px solid;
}

table{
    width: 150px;
    height: 100px;
    text-align: center;
    margin: 20px;
}

input[type=text] {
    width: 50%;
}

.aes-grid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    place-content: center;
}